SQLAlchemy==1.0.11
CouchDB==1.0
Flask==0.10.1
git+https://github.com/wtsi-hgi/common-python.git@develop#egg=hgicommon
pytz==2015.7
git+https://github.com/wtsi-hgi/baton-python-wrapper.git@master#egg=baton
APScheduler==3.0.5