pycouchdb==1.14
requests==2.8.1
Flask==0.10.1
pytz==2015.7
APScheduler==3.0.4
influxdb==2.12.0
git+https://github.com/wtsi-hgi/python-baton-wrapper.git@4cdc326c4b1b71bb1504a048dc112349eb1e50de#egg=baton
git+https://github.com/wtsi-hgi/python-common.git@91c7d03922ae0e693c7993541277022dce0f1fc5#egg=hgicommon
git+https://github.com/wtsi-hgi/python-json.git@451ed0a05d6a7b75370a6facd4186b64e3e47d34#egg=hgijson
