pycouchdb==1.14
requests==2.10.0
Flask==0.11.1
pytz==2016.4
APScheduler==3.1.0
influxdb==2.12.0
hgijson==1.3.1
git+https://github.com/wtsi-hgi/python-baton-wrapper.git@fb35815209f560f9d587cebb5adb482e28df3803#egg=baton
git+https://github.com/wtsi-hgi/python-common.git@fad374bace2cb50712b61ed9a909cd5b6081bd1e#egg=hgicommon
