nose==1.3.7
docker-py
git+https://github.com/wtsi-hgi/test-with-baton.git@6d283c77161fa6319487f40592b39faee286005e#egg=testwithbaton
git+https://github.com/wtsi-hgi/test-with-irods.git@91bc2ff6c8497dba6d9a91c3af8a881a5a0418b0#egg=testwithirods
